h1 {
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
}

nav {
  overflow: hidden;
  width: 100%;
  clear: both;
  background-color: hsl(0, 100%, 50%); /*#CD1925*/
  height: 2.8125em;
  border-top: 0.0625rem solid #fff;
  margin: 0 auto;
  box-shadow: 0 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.15);/*0 0 2px 3px rgba(0, 0, 0, 0.15)*/
  max-width: none;
  min-height: 0;
  border-radius: 0;
}

nav > ul {
  margin: 0 auto;
  width: 43.125rem;
  height: 2.8125rem;
  border-right: 5px solid #f00; /*#CD1925*/
}

nav > ul li {
  float: left;
  width: 10.6875rem;
  height: 2.8125rem;
  clear: none;
}

nav li a {
  padding: 0.9em 0 0 3.125rem;
  height: 2.8125em;
  font-size: 0.825em;
}

section {
  width: 43.4375rem;
  clear: left;
}

.temadoboz {
  float: left;  
  width: 10.6875rem;
  height: 9.5rem;
  min-width: 0;
  min-height: 0;  
  
  /*max-width: auto;
  min-height: 8.5em;*/
}

.temadoboz img {
  width: 100%;
  height: auto;
  min-width: 10.6875rem;
  min-height: 9.5rem;
}

.temadoboz ul {
  font-size: 1.25em;
  /*margin: 0.5em 0.2em 0.2em 0.5em;*/
}

.temadoboz li {
  margin-bottom: 0;
}

.temadoboz li a {
  font-size: 0.875em;
}

#fejlec {
  background: #fff url('../img/logo.svg') no-repeat 1.875rem center;
  background-size: 3.125rem;
  width: 43.125rem;
  margin: 1rem auto 1.5625rem;
  height: 3.125em;
}

#fejlec > div {  
  position: absolute;
  font-size: 0.8em;
  right: 0;
  top: 0;
}

#fejlec div p {
  text-align: left;
}

#lablec {
  width: 43.125rem;
}

#d4 {
  clear: none;
}

#sor2 .temadoboz,
  #sor2 .temadoboz img {
  transition: border-bottom-left-radius 0.5s;
}

#sor2 .temadoboz {
  box-shadow: -0.25rem 0.3125rem 0.5rem 0.0625rem rgba(0, 0, 0, 0.3);
}

#sor2 .temadoboz:hover,
  #sor2 .temadoboz:focus,
  #sor2 .temadoboz img:hover {
  border-top-left-radius: 0.625rem;
  border-bottom-left-radius: 3.125rem;
}

#sor2 .temadoboz:nth-child(3) {
  box-shadow: -0.25rem 0.3125rem 0.5rem 0.0625rem rgba(0, 0, 0, 0.3);
}

#magamrol, #kepek, #szolgaltatasok, #kapcsolat {
  background-size: 2.25rem;
}

#menu {
  display: none;
  left: -10000px;
  position: absolute;
}

nav p.info {
  color: #fff;
}

nav p.info > a, nav p.info > a:visited {
  color: #000;
}
