@charset "utf-8";

a, a:link, a:visited, a:active {
  text-decoration: none;
  color: #f00;
}

a:hover {
  text-decoration: underline;
}

section > div > ul {
  list-style-image: url('../img/list-l.jpg');
}

section > div > ul li:hover{
  list-style-image: url('../img/list-r.jpg');
}

h1 {
  font-size: 1.5em;
  text-align: left;
  margin: 0 auto;
  white-space: nowrap;
}

h1 a {
  background: #fff url('../img/logo.jpg') no-repeat center 0.2em;
  display: block;
  /*border: 1px solid red;  */
  padding: 25px 0 15px 100px;
  background: #fff url('../img/logo-ie.jpg') no-repeat 30px center;  
  width: 350px;  
}

h1 a, h1 a:active, h1 a:visited, h1 a:link, h1 a:hover {
  text-decoration: none;
  color: #7f7f7f;
}

section {
  max-width: 695px;
}

nav {
  width: 100%;
  background-color: #f00;
  margin-top: 160px;
  position: absolute;
  z-index: -1;
  border-top: 1px solid #fff;
}

nav > ul {
  max-width: 695px;
  border-right: 5px solid hsla(48, 100%, 51%, 0.8);
  background-right-color: #fff;
  height: 45px;
}

nav > ul li {
  width: 171px;
  height: 45px;
  border-left: 1px solid #fff;

}

nav li a {
  font-size: 0.825em;
  padding: 0.9em 0 0 50px;
  cursor: default;
}

.temadoboz {
  float: left;
  width: 171px;
  height: 152px;
  border-left: 1px solid #fff;

}

.temadoboz ul {
  margin-top: 0;
}

.temadoboz ul li {
  padding: 0;
}

.temadoboz ul li a {
  font-size: 0.825em;
  color: #1a1a1a;
}

.temadoboz img {
  max-width: 171px;
  max-height: 152px;
}

#d1 {
  position: absolute;
  float: none;
  border-top: 1px solid #fff;

}


#d2 {
    margin-top: 200px;
    position: absolute;
    float: none;
}

#fejlec {
  color: #7a7a7a;  
  max-width: 690px;
  margin: 25px auto 41px;
  height: 50px;
}

#lablec {
  color: #7a7a7a;
  max-width: 690px;
}

main {
  float: right;
  min-height: 353px;
  max-width: 521px;
  margin-left: 172px;
  font-size: 1em;
  background-color: #939FA6;
  border: 1px solid #fff;
}

table thead tr th,
table tbody tr th {
  font-weight: bold;
  min-width: 9em;
  border-right: 1px solid #000;

}

table thead tr td img {
  max-height: 5em;
}

table tbody tr td {
  padding: 0 0 0.2em 0.5em;
  max-width: none;
}

main img {
  width: 5em;
  margin: 0.2em;
}

main article iframe {
  min-height: 500px;
  max-width: 475px;
  margin: 0;
}

main article time {
  clear: none;
  margin-bottom: 0;
}

#menu {
  float: right;
  margin-right: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

/*main div:last-child {
  display: none;
}*/

#magamrol {
  background: #000 url('../img/haz3.jpg') no-repeat 10px center;
}

#szolgaltatasok {
  background: #f00 url('../img/konyv.jpg') no-repeat 10px center;
}

#kepek {
  background: #000 url('../img/galeria3.jpg') no-repeat 10px center;
}

#kapcsolat {
  background: #7f7f7f url('../img/kukac3.jpg') no-repeat 10px center;
}

.ugras{
  margin: 10px 10px 10px 15px;
  border: 1px solid #fff;

}

main article {
  margin: 10px 10px 10px 15px;
  padding: 10px;
}

#menu {
  border: 1px solid #fff;
  height: 25px;

}

#menu a,
  #ugras a {
  height: 25px;
}

#fejlec br {
  display: none;
}

h1 span:first-child:after {
  content: " - ";
}

/*main div {*/
  /*display: block;*/ /*!!! Ha később kellene a main-ben a div !!!*/
/*}*/