@charset 'utf-8';

body {
  margin: 0;
}

a, a:link, a:hover, a:visited, a:active {
  text-decoration: none;
  color: #1a1a1a;
}

h1 {
  font-size: 1.5em;
  padding: 25px 0 0 100px;
  text-align: left;
  margin: 0 auto;
  white-space: nowrap;
}

section {
  max-width: 695px;
}

nav {
  width: 100%;
  background-color: #FFCD05;
  margin-top: 153px;
  position: absolute;
  z-index: -1;
}

nav > ul {
  max-width: 695px;
  border-right: 5px solid hsla(48, 100%, 51%, 0.8);
  background-right-color: #fff;
}

nav > ul li {
  width: 171px;
}

nav li a {
  font-size: 0.825em;
  padding: 0.9em 0 0 50px;
  cursor: default;
}

.temadoboz {
  float: left;
  width: 171px;
  height: 152px;
}

.temadoboz li a {
  font-size: 0.825em;
}

.temadoboz img {
  max-width: 171px;
  max-height: 152px;
}

#d1 {
  position: absolute;
  float: none;
}


#d2 {
    margin-top: 200px;
    position: absolute;
    float: none;
}

#fejlec {
  color: #7a7a7a;
  background: #fff url('../img/logo.jpg') no-repeat 30px center;
  max-width: 690px;
  margin: 50px auto 25px;
  height: 50px;
}

#lablec {
  color: #7a7a7a;
  max-width: 690px;
}

main {
  float: right;  
  min-height: 353px;
  max-width: 521px;
  margin-left: 172px;
  font-size: 0.8em;
  background-color: #67A0BB;
}

main article time {
  clear: none;
  margin-bottom: 0;
}

#menu {
  float: right;
  margin-right: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

main div:last-child {
  display: none;
}

#magamrol {
  background: #67A0BB url('../img/ab2.jpg') no-repeat 10px center;
}

#szolgaltatasok {
  background: #795B39 url('../img/2-serv2.jpg') no-repeat 10px center;
}

#kepek {
  background: #E65A09 url('../img/3-prod2.jpg') no-repeat 10px center;
}

#kapcsolat {
  background: #98CA01 url('../img/4-cont2.jpg') no-repeat 10px center;
}

main div {
  display: none; /*!!! Ha később kellne a main-ben a div !!!*/
}