.h1 {
  font-size: 1.1em;
}

.temadoboz {
  float: left;
  width: 49.6%;
  min-width: 9.375em;/*150px*/
  min-height: 9.5em;/*152px*/
  font-size: 0.8em;
}

#sor1 .temadoboz {
  border-radius: 0.625rem 0.625rem 0 0;/*10px 10px 0 0*/
}

.temadoboz:nth-child(odd) {
  clear: left;
}

.temadoboz ul {
  font-size: 1.1em;
  margin: 1.4em 0.5em 1em 2em;
}

.temadoboz ul li {
  margin: 0 0.5em 1.5em 0em;
  font-size: 1.2em;
}

nav {
  clear: both;
}

nav li {
  float: left;
  width: 49.6%;
  border-bottom: 0.0625rem solid #fff;/*1px*/
}

nav li a {
  font-size: 0.825em;
  padding-top: 1.1em;
}

#kepek {
  background-color: hsl(0, 0%, 50%);
  background-image: url('../img/galeria3-2.jpg');
}

#kapcsolat {
  background-color: hsl(0, 0%, 0%);
  background-image: url('../img/kukac3-2.jpg');
}

#sor2 .temadoboz,
  #sor2 .temadoboz img {
  transition: border-top-left-radius 0.5s;
}

#sor2 .temadoboz {
  box-shadow:  -0.25rem -0.3125rem 0.5rem 0.0625rem rgba(0, 0, 0, 0.3);  
}

#sor2 .temadoboz:hover,
  #sor2 .temadoboz:focus,
  #sor2 .temadoboz img:hover {
  border-top-left-radius: 3.125rem;
  border-bottom-left-radius: 0.625rem;
}