@charset 'utf-8';
@import url('reset.css');
@import url('stiluslap-spec.css') screen,handheld;

body {
  margin-top: 25px;
}

#befoglalo {
  width: 100%;
  margin-top: 0;
  box-sizing: border-box;
}


a, a:link, a:hover, a:visited, a:active {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}

nav {
  border-bottom: 1px solid #fff;
  background-color: #fff;  
}

nav > ul {
  margin: 0 auto;
  list-style: none;
  background-color: #fff;
}

nav li {
  border-left: 1px solid #fff;
  font-size: 1.125em;
  font-weight: bold;
  border-radius: 5px;
  color: #fff;
  transition-property: transform;
  transform-style: preserve-3d;  
}

nav li a {
  display: block;
  padding: 1em 1em 1em 50px;
  color: #fff;
}

nav li a:hover,
  nav li a:visited,
  nav li a:active,
  nav li a:link {
  color: #fff;
}

nav > ul li:hover {
  transform: rotateX(360deg);
  transition-duration: 1s;
}

#magamrol {
  background: hsl(0, 0%, 0%) url('../img/haz3.jpg') no-repeat 10px center;
}

#szolgaltatasok {
  background: hsl(0, 100%, 50%) url('../img/szerszamok3.jpg') no-repeat 10px center;
}

#kepek {
  background: hsl(0, 0%, 0%) url('../img/galeria3.jpg') no-repeat 10px center;
}

#kapcsolat {
  background: hsl(0, 0%, 50%) url('../img/kukac3.jpg') no-repeat 10px center;
}

section {
  margin: 0 auto;
  width: 100%;
}

section > div > ul {
  list-style-image: url('../img/list-l.jpg');
  transition-property: list-stlye-image;
}

section > div > ul li:hover{
  list-style-image: url('../img/list-r.jpg');
  transition-duration: 0.75s;
}

.temadoboz{
  border-left: 1px solid #fff;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.7);
}

.temadoboz ul {
  margin: 1.25em 0.5em 1.25em 1.875em;
  font-size: 1.2em;
}

.temadoboz li {
  margin-bottom: 0.3em;
}

.temadoboz li a:hover,
  .temadoboz li a:active,
  .temadoboz li a:focus {
  text-decoration: underline;
}

.temadoboz img{
  width: 100%;
  height: auto;
  max-width: 100%;

  border-radius: 10px;
  z-index: -1;
  display: block;
}

#sor1 .temadoboz,
  #sor1 .temadoboz img {
  transition: border-top-left-radius 0.5s;
}

#sor1 .temadoboz {
  border-top: 1px solid #fff;
  box-shadow: -4px -5px 8px 1px rgba(0, 0, 0, 0.3);
}

#sor1 .temadoboz:hover,
  #sor1 .temadoboz:focus,
  #sor1 .temadoboz img:hover {
  border-top-left-radius: 50px;
}

#sor2 .temadoboz,
  #sor2 .temadoboz img {
  transition: border-bottom-left-radius 0.5s;
}

#sor2 .temadoboz{
  border-bottom: 1px solid #fff;
  box-shadow: -4px 5px 8px 1px rgba(0, 0, 0, 0.3);
}

#sor2 .temadoboz:hover,
  #sor2 .temadoboz:focus,
  #sor2 .temadoboz img:hover {
  border-bottom-left-radius: 50px;
}

#fejlec{
  background: #fff url('../img/logo.jpg') no-repeat center 0.2em;
  animation: beuszas 2s ease-in-out;
  background-size: 50px;
}

h1 {
  color: rgba(0, 0, 0, 0.5);
  min-height: 1em;
  text-align: center;
  padding: 3.5em 0 0.5em;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.2em;
}

#lablec{
  width: 100%;
  clear: both;
  text-align: right;
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  padding: 1.5em 3em 0 0;
}

#menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #939fa6;
    border: 1px solid #fff;
    height: 25px;
    z-index: 2;
    padding: 0 0.4em;
    text-align: center;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
}

#menu a {
    display: block;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 5px #fff;
    height: 25px;
    transition: text-shadow 0.2s;
}

#menu a:link,
 #menu a:hover,
 #menu a:visited,
 #menu a:active {
    color: #fff;
 }

 #menu a:hover {
    text-shadow: 0 0 1px #fff;
 }

@keyframes beuszas{

	0% { /*lehetne sec-ben is megadni*/
        opacity: 0;
	}

	100%{
		left: 0%;
		opacity: 1;
	}
}