h1 {
  /*padding: 3.5em 0 1em;*/
  font-size: 1.5em;
  text-align: left;
}

h1 a {
  background: #fff url('../img/logo.svg') no-repeat 1.875rem center;
  background-size: 3.125rem;
  /*padding: 1.5625rem 0 0 6.25rem;*/
  padding: 1rem 0 0 6.25rem;
  margin: 0 0 0.5rem 0;
}

h1 span:first-child:after {
  content: " - ";
}

#fejlec h1 br {
  display: none;  
}

#fejlec > div {  
  width: auto;
  text-align: right;
  line-height: 1.5;
  margin-right: 1em;
}

#fejlec div p {
  text-align: right;
}

.temadoboz {
  float: left;
  width: 33.1%;  
  max-width: 16.6875rem;
  min-height: 8.5rem;
  font-size: 0.8em;
}

.temadoboz:nth-child(odd) {
  clear: none;
}

#sor1 .temadoboz {
  border-radius: 0.625rem;
}

#sor2 .temadoboz:nth-child(3) {
  box-shadow: -0.25rem -0.3125rem 0.5rem 0.0625rem rgba(0, 0, 0, 0.3);
}

#d4 {
  clear: left;
}

.temadoboz ul {
  font-size: 1.1em;
}

.temadoboz ul li{
  margin: 0 0.5em 1.5em 0em;
  font-size: 1em;
}

nav {
  float: left;
  clear: none;
  width: 33.2%;
  border-radius: 0.3125rem;
  max-width: 16.6875rem;
  min-height: 8.25rem;
  overflow: hidden;
}

nav li {
  clear: both;
  width: 100%;
  min-height: 2.0625rem;
}

nav li a {
  padding: 0.4375rem 0.5em 0 2.5rem;/*7px 0.5em 0 40px*/
  min-height: 1.625rem;
}

#magamrol, #kepek, #szolgaltatasok, #kapcsolat {
  background-size: 1.5625rem;
}

#kepek {
  background-color: hsl(0, 0%, 0%);
  background-image: url('../img/galeria3.jpg');
}

#kapcsolat {
  background-color: hsl(0, 0%, 50%);
  background-image: url('../img/kukac3.jpg');
}