h1 {
  font-size: 1.1em;
}

.temadoboz {
  float: left;
  width: 33.1%;
  max-width: 16.6875rem;/*267px*/
  min-height: 8.5rem;/*136px*/
  font-size: 0.8em;
}

.temadoboz:nth-child(odd) {
  clear: none;
}

#sor1 .temadoboz {
  border-radius: 0.625rem;/*10px*/
}

#sor2 .temadoboz:nth-child(3) {
  box-shadow: -0.25rem -0.3125rem 0.5rem 0.0625rem rgba(0, 0, 0, 0.3);/*-4px -5px 8px 1px rgba(0, 0, 0, 0.3);*/
  
}

#d4 {
  clear: left;
}

.temadoboz ul {
  font-size: 1.1em;
}

.temadoboz ul li{  
  margin: 0 0.5em 1.5em 0em;
  font-size: 1em;
}

nav {
  float: left;
  clear: none;
  width: 33.2%;
  border-radius: 0.3125rem;/*5px*/
  max-width: 16.6875rem;/*267px*/
  min-height: 8.25rem;/*132px*/
  overflow: hidden;
}

nav li {
  clear: both;
  width: 100%;
  min-height: 2.0625rem;/*33px*/
}

nav li a {
  padding: 0.4375rem 0.5em 0 2.5rem;/*7px 0.5em 0 40px*/
  min-height: 1.625rem;/*26px*/
}

#magamrol, #kepek, #szolgaltatasok, #kapcsolat {
  background-size: 1.5625rem;/*25px*/
}

#kepek {
  background-color: hsl(0, 0%, 0%);
  background-image: url('../img/galeria3.jpg');
}

#kapcsolat {
  background-color: hsl(0, 0%, 50%);
  background-image: url('../img/kukac3.jpg');
}

#menu {
  display: none;
  left: -10000px;
  position: absolute;
}