@charset 'utf-8';
@import url('reset.css');

body {
  margin-top: 25px;
}

strong{
  font-weight: bold;
}

 #befoglalo {
  width: 100%;
  margin-top: 0;
  box-sizing: border-box;
  z-index: -10;
  overflow: hidden;
}

h1 {
  color: rgba(0, 0, 0, 0.5);
  min-height: 1em;
  text-align: center;
  padding: 3.5em 0 0.5em;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.2em;
}

a, a:link, a:hover, a:visited, a:active {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}

section {
  clear: both;
  margin: 0 auto;
}

section > div > ul {
  list-style-image: url('../img/list-l.jpg');
  transition-property: list-stlye-image;
  -webkit-transition-property: list-style-image;
}

section > div > ul li:hover {
  list-style-image: url('../img/list-r.jpg');
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
}

nav {
  overflow: hidden;
  clear: both;
  height: 45px;
  border-top: 1px solid #fff;
  margin: 0 auto;
  box-shadow: 0 0px 2px 3px rgba(0, 0, 0, 0.15);
  max-width: none;
  background-color: #fff;
}

nav > ul {
  margin: 0 auto;
  list-style: none;
  height: 45px;
  background-color: #fff;
}

nav > ul li {
  float: left;
  height: 45px;
  clear: none;
  border-left: 1px solid #fff;
  font-size: 1.125em;
  font-weight: bold;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  transition-property: transform;
  transform-style: preserve-3d;
  -webkit-transition-property: -webkit-transform;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}

nav li {
  font-size: 1.125em;
}

nav li a {
  display: block;
  padding: 0.7em 0 0 50px;
  color: #fff;
}

nav li a:hover,
  nav li a:visited,
  nav li a:active,
  nav li a:link {
  color: #fff;
}

.temadoboz {
  border-left: 1px solid #fff;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.7);
}

.temadoboz ul {
  line-height: 120%;
  font-size: 1.1em;
  padding: 1em 0.5em 1em 1.5em;
}

.temadoboz li {
  margin-bottom: 0.3em;
}

.temadoboz li a {
  color: rgba(0, 0, 0, 0.9);
}

.temadoboz li a:hover,
  .temadoboz li a:active,
  .temadoboz li a:focus {
  text-decoration: underline;
}

.temadoboz img {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 10px;
  z-index: -1;
  display: block;
}

#d1 {
  border-top: 1px solid #fff;
  box-shadow: -4px -5px 8px 1px rgba(0, 0, 0, 0.3);
  clear: left;
}

#d2 {
  clear: left;
  box-shadow: -4px 5px 8px 1px rgba(0, 0, 0, 0.3);
}

#d1,
  #d1 img {
  transition: border-top-left-radius 0.5s;
  -webkit-transition: border-top-left-radius 0.5s;
}

#d1:hover,
  #d1:focus,
  #d1 img:hover {
  border-top-left-radius: 50px;
  /*-webkit-filter: opacity(0.95);*/
}

#d2{
  transition: border-bottom-left-radius 0.5s;
  -webkit-transition: border-bottom-left-radius 0.5s;
}

#d2:hover,
  #d2:focus,
  #d2:active {
  border-bottom-left-radius: 50px;
}

#fejlec {
  background: #fff url('../img/logo.jpg') no-repeat center 0.2em;
  animation: beuszas 2s ease-in-out;
  -webkit-animation: beuszas 2s ease-in-out;
}

#lablec {
  clear: both;
  text-align: right;
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  padding: 1.5em 3em 0 0;
}

#magamrol {
  background: hsl(0, 0%, 0%) url('../img/haz3.jpg') no-repeat 10px center;
}

#szolgaltatasok {
  background: hsl(0, 100%, 50%) url('../img/szerszamok3.jpg') no-repeat 10px center;
}

#kepek {
  background: hsl(0, 0%, 0%) url('../img/galeria3.jpg') no-repeat 10px center;
}

#kapcsolat {
  background: hsl(0, 0%, 50%) url('../img/kukac3.jpg') no-repeat 10px center;
}

main {
  background-color: #939fa6; /*hsl(199, 38%, 57%)*/
  border: 1px solid red;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: -2px -2px 10px 4px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

main p {
  clear: both;
  text-indent: 2em;
}

main div:last-child {
  border-radius: 5px;
  margin: 10px 10px 10px 15px;
  border: 1px solid #fff;
  padding: 0;
}

main div:last-child a {
  background-color: #939fa6;
  border-radius: inherit;
  height: none;
  padding: 0.2em 0;
  text-align: center;
  white-space: nowrap;
}

main article,
  main article iframe {
  background-color: #fff;
  margin: 10px 10px 10px 15px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: -1px -1px 5px 2px rgba(0, 0, 0, 0.3);
}

main article iframe,
  main article img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
}

main article iframe {
  min-height: 100px;
  overflow: visible;
}

main article figcaption {
  text-align: center;
}

main article h2 {
  color: #000; /*#66A0BB*/
  font-size: 1.5em;
  font-weight: bold;
  float: left;
  text-indent: 0.5em;
  padding-bottom: 1em;
}

main article time {
  float: right;
  clear: both;
  margin-bottom: 0.5em;
  font-style: italic;
  font-size: 0.75em;
}

main article figure {
  text-align: center;
  border-radius: 5px;
}

main article figure img {
  border-radius: 5px;
}

#menu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #939fa6;
  border: 1px solid #fff;
  height: 25px;
  z-index: 2;
  padding: 0 0.4em;
  text-align: center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
}

#menu a,
  main div:last-child a {
  display: block;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 5px #fff;
  height: 25px;
  transition: text-shadow 0.2s;
  -webkit-transition: text-shadow 0.2s;
}

#menu a:link,
 #menu a:hover,
 #menu a:visited,
 #menu a:active {
  color: #fff;
 }

 #menu a:hover,
  main div:last-child a:hover {
  text-shadow: 0 0 1px #fff;
 }

 #lapteto {
  position: absolute;
  top: 0;
 }