@charset "utf-8";
@import url('reset.css');

body {
  margin-top: 1.5625rem;
}

strong, b, em {
  font-weight: bold;
}

h1 {
  color: rgba(0, 0, 0, 0.5);
  min-height: 1em;
  text-align: center;
  /*padding: 2em 0 0.5em;*/
  margin: 0 auto;
  font-weight: bold;
  font-size: 2em;
}

h1 a {
  background: #fff url('../img/logo.svg') no-repeat center 0.2em;
  display: block;
  /*border: 1px solid red;*/
  /*width: 100%;*/
  background-size: 3.125rem;
  margin: 1rem auto 0;
  padding: 2em 0 0.5em;
}

h1 a, h1 a:active, h1 a:visited, h1 a:link, h1 a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

a, a:link, a:visited, a:active {
  text-decoration: none;
  color: #f00;
}

a:hover, a:focus {
  text-decoration: underline;
}

section {
  clear: both;
  margin: 0 auto;
}

section > div > ul {
  list-style-image: url('../img/list-l.svg');
  /*transition-property: list-stlye-image;*/
}

section > div > ul li:hover {
  list-style-image: url('../img/list-r.svg');
  /*transition-duration: 0.75s;*/
}

nav {
  overflow: hidden;
  clear: both;
  height: 2.8125rem;
  border-top: 0.0625rem solid #fff;
  margin: 0 auto;
  box-shadow: 0 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.15);
  max-width: none;
  background-color: #fff;
}

nav > ul {
  margin: 0 auto;
  list-style: none;
  height: 2.8125rem;
  background-color: #fff;
}

nav > ul li {
  float: left;
  height: 2.8125rem;
  clear: none;
  border-left: 0.0625rem solid #fff;
  font-size: 1.125em;
  font-weight: bold;
  border-radius: 0.3125rem;
  color: #fff;
  width: 100%;
  transition-property: transform;
  transform-style: preserve-3d;
}

nav li a {
  display: block;
  padding: 0.6em 0 0 3.25rem;
  color: #fff;
  height: 2.8125rem;
}

nav li a:hover,
  nav li a:visited,
  nav li a:active,
  nav li a:link {
  color: #fff;
  text-decoration: none;
}

.temadoboz {
  border-left: 0.0625rem solid #fff;
  border-radius: 0.625rem;
  color: rgba(0, 0, 0, 0.7);
}

.temadoboz ul {
  line-height: 120%;
  font-size: 1.1em;
  margin-top: 1em;
  padding: 1em 0.5em 1em 1.5em;
}

.temadoboz ul li {
  /*margin-bottom: 0.3em;*/
  /*padding: 0.5em 0 0.5em 1em;*/
  margin: 0 0.5em 1.5em 0em;
  font-size: 1em;
}

.temadoboz li a {
  color: rgba(0, 0, 0, 0.9);
}

.temadoboz img {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 0.625rem;
  z-index: -1;
  display: block;
}

#d1 {
  border-top: 0.0625rem solid #fff;
  box-shadow: -0.25rem -0.3125rem 0.5rem 0.0625rem rgba(0, 0, 0, 0.3);
  clear: left;
}

#d2 {
  clear: left;
  box-shadow: -0.25rem 0.3125rem 0.5rem 0.0625rem rgba(0, 0, 0, 0.3);
}

#d1,
  #d1 img {
  transition: border-top-left-radius 0.5s;
}

#d1:hover,
  #d1:focus,
  #d1 img:hover {
  border-top-left-radius: 3.125rem;
}

#d2{
  transition: border-bottom-left-radius 0.5s;
}

#d2:hover,
  #d2:focus,
  #d2:active {
  border-bottom-left-radius: 3.125rem;
}

#fejlec {
  animation: beuszas 2s ease-in-out;
}

#lablec {
  clear: both;
  text-align: right;
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  padding: 1.5em 3em 0 0;
}

#magamrol {
  background: hsl(0, 0%, 0%) url('../img/haz3.jpg') no-repeat 0.625rem center;
}

#szolgaltatasok {
  background: hsl(0, 100%, 50%) url('../img/konyv.jpg') no-repeat 0.625rem center;
}

#kepek {
  background: hsl(0, 0%, 0%) url('../img/galeria3.jpg') no-repeat 0.625rem center;
}

#kapcsolat {
  background: hsl(0, 0%, 50%) url('../img/kukac3.jpg') no-repeat 0.625rem center;
}

main {
  background-color: #939fa6; /*hsl(199, 38%, 57%)*/
  border-radius: 0.625rem;
  border: 0.0625rem solid #fff;
  box-shadow: -0.125rem -0.125rem 0.625rem 0.25rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

main p {
  clear: both;
  text-indent: 2em;
  text-align: left;
  line-height: 1.75;
  padding-bottom: 0.5em;
}

main article table {
  text-align: left;
  width: 100%;
}

table thead tr td img {
  max-width: 5em;
}

table thead tr td {
  text-align: right;
  vertical-align: middle;
}

table thead tr th,
table tbody tr th {
  text-align: right;
  border-right: 0.0625rem solid #000;
  padding-right: 0.5em;
  font-weight: normal;
}

table thead tr th {
  width: 1em;
}

table tbody tr td {
  padding: 0 0 0.2em 0.2em;
  max-width: 5em;
}

.nagybetus_cella {
  text-transform: uppercase;
  padding: 2em 0.2em;
}

main img {
  border-radius: 0.3125rem;
  width: 10rem;
  height: auto;
  margin: 0.2rem;
}

#accordion > div {
  text-align: center;
}

#accordion > p {
  text-align: left;
  line-height: 1.75;
}

.ugras {
  border-radius: 0.3125rem;
  margin: 0.625rem 0.625rem 0.625rem 0.9375rem;
  border: 0.0625rem solid #fff;
  padding: 0;
}

.ugras a,
  .ugras a:link,
  .ugras a:visited{
  color: #fff;
  background-color: #939fa6;
  border-radius: inherit;
  height: auto;
  padding: 0.2em 0;
  text-align: center;
  white-space: nowrap;
}

main article,
  main article iframe {
  background-color: #fff;
  margin: 0.625rem 0.625rem 0.625rem 0.9375rem;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  box-shadow: -0.0625rem -0.0625rem 0.3125rem 0.125rem rgba(0, 0, 0, 0.3);
}

main article figcaption a:hover {
  text-decoration: underline;
}

main article iframe,
  main article img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
}

main article iframe {
  min-height: 12rem;/*6.25rem*/
  overflow: visible;
}

main article figcaption {
  text-align: center;
}

main article h2 {
  color: #000; /*#66A0BB*/
  font-size: 1.5em;
  font-weight: bold;
  float: left;
  text-indent: 0.5em;
  padding-bottom: 1em;
}

main article time {
  float: right;
  clear: both;
  margin-bottom: 0.5em;
  /*font-style: italic;  */
  font: italic 0.75em "Helvetica Neue", Arial, Helvetica, sans-serif;
}

main article figure {
  text-align: center;
  border-radius: 0.3125rem;
}

main article figure img {
  border-radius: 0.3125rem;
}

main article div {
  clear: both;
}

main article ul {
  margin: 0.5em 0 1em 2em;
  list-style-type: disc;
  line-height: 1.75;
}

#menu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #939fa6;
  border: 0.0625rem solid #fff;
  height: 1.5625rem;
  z-index: 2;
  padding: 0 0.4em;
  text-align: center;
  border-bottom-left-radius: 0.1875rem;
  border-bottom-right-radius: 0.1875rem;
  box-shadow: -0.0625rem 0.0625rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.3);
}

#menu a,
  .ugras a {
  display: block;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 0.3125rem #fff;
  height: 1.5625rem;
  transition: text-shadow 0.2s;
}

#menu a:link,
 #menu a:hover,
 #menu a:visited,
 #menu a:active {
  color: #fff;
 }

 #menu a:hover,
  .ugras a:hover {
  text-shadow: 0 0 0.0625rem #fff;
 }

 #lapteto {
  position: absolute;
  top: 0;
 }

.js_show {
  display: none;
}

ol {
  padding: 0 0 1em 2em;
}

.alert {
    color: red;
}