body {
    font-size: 140%;
}

h1 {    
    min-height: 2.8rem;    
}

h1 a {
    background-size: 4.375rem;
    padding: 2.1875rem 0 1.3125rem 8.75rem;
    margin: 1.4rem 0 0 0;
    width: 27rem;
}

section {
    width: 60.18rem;
    max-width: none;
}

main {
    width: 45rem;
    max-width: none;
    margin-left: 15rem;
}

main article {
    padding: 1rem;
}

#befoglalo > nav {
    height: 3.9375rem;
    top: 24.7rem;
}

#befoglalo > nav ul {
    width: 60.375rem;
    height: 3.9375rem;
    max-width: none;
}

#befoglalo > nav ul li {
    height: 3.9375rem;
    width: 15.2rem;
}

#befoglalo > nav li a {
    padding: 0.9em 0 0 3.6rem;
}

.temadoboz {
  width: 14.9625rem;
  height: 13.3rem;
}

.temadoboz img {
    max-height: none;
}


#magamrol, #kepek, #szolgaltatasok, #kapcsolat {
    background-size: 2.5rem auto;
}

#fejlec {    
    margin: 2.8rem auto 2.1875rem;
    max-width: none;
    width: 60.375rem;
    height: 4.375rem;
}

#d2 {
    margin-top: 17.6rem;
}

#menu {
    height: 2.1875rem;
}

#logo a {
    margin: -1em 0 0 1.3em;
    height: 4.375rem;
    width: 4.375rem;
}

.ugras a {
    height: 2.1875rem;
}