@charset 'uft8';
@import url('tartalom-spec.css') screen,handheld;

h1 {
  font-size: 1.5em;  
  text-align: left;
  margin: 0 auto;
  white-space: nowrap;
}

h1 a {
  background: #fff url('../img/logo.svg') no-repeat 1.875rem center;
  background-size: 3.125rem;
  padding: 1.5625rem 0 0 6.25rem;
  width: 20rem;
  margin: 1rem 0 0 0;
}

section {
  max-width: 43.4375rem;
}

#befoglalo > nav {
  width: 100%;
  background-color: #f00;
  top: 16.25rem;
  position: absolute;
  z-index: -1;
}

nav > ul {
  max-width: 43.125rem;
  border-right: 0.3125rem solid hsl(0, 100%, 50%);
  background-color: #fff;
}

nav > ul li {
  width: 10.6875rem;
}

nav li a {
  font-size: 0.825em;
  padding: 0.9em 0 0 3.125rem;
}

.temadoboz {
  float: left;
  width: 10.6875rem;
  height: 9.5rem;
}

.temadoboz:nth-child(3) {
  /*border: 0.0625rem solid red;*/
}

.temadoboz ul {
  margin-top: 0;
}

.temadoboz ul li {
  padding: 0;
}

.temadoboz li a {
  font-size: 0.825em;
}

.temadoboz img {
  /*max-width: 10.6875rem;*/
  max-height: 9.5rem;
}

#d1 {
  position: absolute;
  float: none;
}

#d2 {
    margin-top: 12.5rem;
    position: absolute;
    float: none;
}

#fejlec {  
  max-width: 43.125rem;
  margin: 1rem auto 1.5625rem;
  height: 3.125rem;  
}

#lablec {
  max-width: 43.125rem;
}

main {
  float: right;
  min-height: 22.0625rem;
  max-width: 32.5625rem;
  margin-left: 10.75rem;
  font-size: 1em;
}

table thead tr th,
table tbody tr th {
  font-weight: bold;
  /*min-width: 9em;*/
}

table tbody tr td {
  padding: 0 0 0.2em 0.5em;
  max-width: none;
}

main img {
  width: 10rem;
}

main article time {
  clear: none;
  margin-bottom: 0;
}

main article iframe {
  min-height: 31.25rem;
}

#menu {
  float: right;
  margin-right: 0.9375rem;
  border-top-left-radius: 0.1875rem;
  border-top-right-radius: 0.1875rem;
  box-shadow: -0.0625rem -0.0625rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.3);
  position: relative;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

#logo {
  top: 3em;
}

#logo a {
  margin: 0 0 0 1.7em;
}

table thead tr th {
  width: auto;
}

#fejlec br {
  display: none;
}

h1 span:first-child:after {
  content: " - ";
}