@charset 'utf-8';

/*section > div > ul {*/
/*  -webkit-transition-property: list-style-image;*/
/*}*/

section > div > ul li:hover {
  /*-webkit-transition-duration: 0.75s;*/
}

nav > ul li {
  -webkit-transition-property: -webkit-transform;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}

#d1,
  #d1 img {
  -webkit-transition: border-top-left-radius 0.5s;
}

#d1:hover,
  #d1:focus,
  #d1 img:hover {
}

#d2{
  -webkit-transition: border-bottom-left-radius 0.5s;
}

#fejlec {
  -webkit-animation: beuszas 2s ease-in-out;
}

#menu a,
  main div:last-child a {
  -webkit-transition: text-shadow 0.2s;
}