html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body{
  /*border: 1px solid orange;*/
}


#befoglalo{
    width: 100%;
    margin-top: 0px;
    border: 1px solid green;
    box-sizing: border-box;    
}


a, a:link, a:hover, a:visited, a:active {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

nav{        
    background-color: hsla(48, 100%, 51%, 0.8);
    box-shadow: 0 0px 2px 3px rgba(0, 0, 0, 0.15);

    border-bottom: 1px solid #fff;
    
    /*clear: both;*/
    /*height: 2,8125em;*/
    /*border-top: 1px solid #fff;*/
    /*width: 100%;*/
    /*position: absolute;*/    
}

nav>ul{    
    margin: 0 auto;    
    list-style: none;
    /*width: 100%;*/
    background-color: #fff;
    
    /*height: 2,8125em;*/
    /*border-right: 5px solid hsla(48, 100%, 51%, 0.8);*/
    
    /*position: absolute;*/ 
}

nav li{
    
    /*width: 100%;*/
    /*padding-left: 50px;*/
    
    border-left: 1px solid #fff;
    font-size: 1.125em;
    font-weight: bold;
    border-radius: 5px;
    color: #fff;
    
    /*padding-top: 0.75em;*/
    /*height: 33px;    */
    
    background-image: -webkit-linear-gradient(#313a63,#070838);
    background-image: -moz-linear-gradient(#313a63,#070838);
    background-image: -ms-linear-gradient(#313a63,#070838);
    background-image: -o-linear-gradient(#313a63,#070838);
    
    
    
    
    -webkit-transition-property: -webkit-transform;
    -webkit-transform-style: preserve-3d;
    -moz-transition-property: -moz-transform;
    -moz-transform-style: preserve-3d;
}

nav li a{
  display: block;
  /*height: inherit;*/
  /*width: 100%;*/
  padding: 1em 1em 1em 3em;
}

nav>ul li:hover{
  -webkit-transform: rotateX(360deg);
  -webkit-transition-duration: 1s;
  -moz-transform: rotateX(360deg);
  -moz-transition-duration: 1s;
}


#magamrol{
    background: hsl(199, 38%, 57%) url('img/ab2.jpg') no-repeat 10px center;
}

/*#magamrol:hover, #magamrol:focus{*/
/*    background-color: hsla(199, 38%, 57%, 0.6);*/
/*}*/

#szolgaltatasok{    
    background: hsl(32, 36%, 35%) url('img/2-serv2.jpg') no-repeat 10px center;
}

/*#szolgaltatasok:hover, #szolgaltatasok:focus{*/
/*    background-color: hsla(32, 36%, 35%, 0.9);*/
/*}*/

#kepek{    
    background: hsl(22, 92%, 47%) url('img/3-prod2.jpg') no-repeat 10px center;
}

/*#kepek:hover, #kepek:focus{*/
/*    background-color: hsla(22, 92%, 47%, 0.75);*/
/*}*/

#kapcsolat{    
    background: hsl(75, 99%, 40%) url('img/4-cont2.jpg') no-repeat 10px center;
}

/*#kapcsolat:hover, #kapcsolat:focus{*/
/*    background-color: hsla(75, 99%, 40%, 0.6);*/
/*}*/

section {
    margin: 0 auto;
    /*border: 1px solid blue;*/
    width: 100%;    
}

section>div>ul{    
    list-style-image: url('img/list-l.jpg');
    -moz-transition-property: list-stlye-image; 
    -webkit-transition-property: list-style-image;
}

section>div>ul li:hover{    
    list-style-image: url('img/list-r.jpg');
    -webkit-transition-duration: 0.75s;
    -moz-transition-duration: 0.75s;
}

.temadoboz{    
    padding-top: 1.25em;
    padding-left: 1.875em;
    border-left: 1px solid #fff;    
    border-radius: 10px;    
    line-height: 200%;
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.7);
    
    /*float: left;*/    
    /*height: 132px;*/
    /*padding-top: 20px;*/
    /*padding-left: 30px;*/
    height: 10em;
    background-size: cover;
    background-repeat: no-repeat;
    
}

#sor1 .temadoboz{
    
    border-top: 1px solid #fff;
    box-shadow: -4px -5px 8px 1px rgba(0, 0, 0, 0.3);
    -moz-transition-property: border-top-left-radius, filter;
    -moz-transition-duration: 0.5s;
    -webkit-transition-property: border-top-left-radius, filter;
    -webkit-transition-duration: 0.5s;
    
}

#sor1 .temadoboz:hover{    
    border-top-left-radius: 50px;
    /*-webkit-filter: opacity(0.95);*/
}


#sor2 .temadoboz{
  border-bottom: 1px solid #fff;
  box-shadow: -4px 5px 8px 1px rgba(0, 0, 0, 0.3);
  -moz-transition-property: border-bottom-left-radius;
  -moz-transition-duration: 0.5s;
  -webkit-transition-property: border-bottom-left-radius, filter;
  -webkit-transition-duration: 0.5s;
}

#sor2 .temadoboz:hover{    
    border-bottom-left-radius: 50px;
    /*-webkit-filter: opacity(0.95);*/
}

#fejlec{
    color: rgba(0, 0, 0, 0.5);
    background: #fff url('img/logo.jpg') no-repeat center 0.2em;
    /*width: 100%;*/
    margin: 0 auto;
    height: 1em; /*!*/
    font-weight: bold;
    font-size: 1em;
    /*padding: 3.5em 0.1em 1.5em 1em;*/
    border: 1px solid red;
    white-space: nowrap;
    
    height: 1em;
    text-align: center;
    padding: 3.5em 0 0.5em;
    
  -webkit-animation-name: beuszas;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;  
  animation-name: beuszas;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}



#lablec{
    width: 100%;
    clear: both;
    text-align: right;
    font-size: 0.75em;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    
    padding: 0.3125em 0.3125em 0 0;
}

#d1{
    background-image: url('img/f-p.jpg');    
}

#d3{
    background-image: url('img/3-f-p.jpg');
}

#d6{
    background-image: url('img/2-f-p.jpg');
}

#d8{
    background-image: url('img/4-f-p.jpg');
}


@keyframes beuszas{
	
	0% { /*lehetne sec-ben is megadni*/          
                opacity: 0;
	}
	
	100%{
		left: 0%;
		opacity: 1;
	}
}

@-webkit-keyframes beuszas{
	
	0% { /*lehetne sec-ben is megadni*/          
                opacity: 0;
	}
	
	100%{
		left: 0%;
		opacity: 1;
	}
}