body {
  margin: 0;
}
h1 {  
  font-size: 1.5em;
  padding: 25px 0 0 100px;
  text-align: left;  
  margin: 0 auto;
  white-space: nowrap;
}

section {
  /*width: 695px;  */
  max-width: 695px;
}

nav {
  width: 100%;
  background-color: hsla(48, 100%, 51%, 0.8);  
  margin-top: 153px;
  position: absolute;
  z-index: -1;
}

nav > ul {  
  /*width: 690px;*/
  max-width: 690px;
  border-right: 5px solid hsla(48, 100%, 51%, 0.8);
  background-right-color: #fff;  
}

nav > ul li {
  width: 171px;  
}


.temadoboz{
  float: left;
  width: 171px;
  height: 152px;
}

.temadoboz li a {
  font-size: 0.825em;
}


.temadoboz img{  
  max-width: 171px;
  max-height: 152px;  
}

#d1 {
  position: absolute;
  float: none;  
}


#d2 {
    margin-top: 200px;
    position: absolute;
    float: none;
}

#fejlec{
  background: #fff url('img/logo.jpg') no-repeat 30px center;
  max-width: 690px;
  margin: 50px auto 25px;
  height: 50px;
}

#lablec{
  max-width: 690px;  
}

main {
  float: right;  
  /*width: 521px;*/
  min-height: 353px;
  max-width: 521px;
  margin-left: 172px;
  /*font-size: 0.875em;*/
  font-size: 0.8em;
}

main article time {
  clear: none;
  margin-bottom: 0;
}

#menu {
  float: right;
  margin-right: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: -1px -1px 2px 1px rgba(0, 0, 0, 0.3);    
  position: relative;
  
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;   
}