html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Oxygen', Verdana, Lucida, Arial, Helvetica, sans-serif;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {    
  margin-top: 25px;
}

 #befoglalo {
  width: 100%;
  margin-top: 0;
  box-sizing: border-box;
  z-index: -10;
  overflow: hidden;  
}

h1 {
  color: rgba(0, 0, 0, 0.5);
  min-height: 1em; /*!*/
  text-align: center;
  padding: 3.5em 0 0.5em;
  margin: 0 auto;
  font-weight: bold;  
  font-size: 1.2em;
}

a, a:link, a:hover, a:visited, a:active {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

section {  
  clear: both;
  margin: 0 auto;
}

section > div > ul {
  list-style-image: url('img/list-l.jpg');
  -moz-transition-property: list-stlye-image;
  -webkit-transition-property: list-style-image;
}

section > div > ul li:hover{
  list-style-image: url('img/list-r.jpg');
  -webkit-transition-duration: 0.75s;
  -moz-transition-duration: 0.75s;
}

nav {
  overflow: hidden;  
  clear: both;  
  height: 45px;
  border-top: 1px solid #fff;
  margin: 0 auto;
  box-shadow: 0 0px 2px 3px rgba(0, 0, 0, 0.15);
  max-width: none;    
  
  /*width: 100%;*/
  /*margin-top: 153px;*/
  background-color: #fff;
  
}

nav > ul {
  margin: 0 auto;
  list-style: none;  
  height: 45px;
  
  /*border-right: 5px solid hsla(48, 100%, 51%, 0.8);*/
  /*width: 690px;*/
  background-right-color: #fff;
}

nav > ul li {
  float: left;
  /*width: 171px;*/
  height: 45px;
  clear: none;  
  border-left: 1px solid #fff;
  font-size: 1.125em;
  font-weight: bold;
  border-radius: 5px;
  color: #fff;
  
  width: 100%;

  -webkit-transition-property: -webkit-transform;
  -webkit-transform-style: preserve-3d;
  -moz-transition-property: -moz-transform;
  -moz-transform-style: preserve-3d;
}

nav li a {
  display: block;  
  padding: 0.7em 0 0 50px;
  color: #fff;
}

nav li a:hover,
  nav li a:visited,
  nav li a:active,
  nav li a:link {
    color: #fff;
}

.temadoboz{
  border-left: 1px solid #fff;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.7);  
}

.temadoboz ul {
  line-height: 120%;
  font-size: 1.1em;
  padding: 1em 0.5em 1em 1.5em;
}

.temadoboz li {
  margin-bottom: 0.3em;
}

.temadoboz li a {
  /*border: 1px solid red;*/  
}

.temadoboz li a:hover,
  .temadoboz li a:active,
  .temadoboz li a:focus {    
  text-decoration: underline;
}

.temadoboz img {  
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 10px;
  z-index: -1;
  display: block;
}

#d1 {
    border-top: 1px solid #fff;
    box-shadow: -4px -5px 8px 1px rgba(0, 0, 0, 0.3);
    clear: left;
}

#d2 {    
    clear: left;
    box-shadow: -4px 5px 8px 1px rgba(0, 0, 0, 0.3);
    /*margin-top: 47px;*/
}

#sor1 .temadoboz,
  #sor1 .temadoboz img {
  -moz-transition-property: border-top-left-radius; /*, filter*/
  -moz-transition-duration: 0.5s;
  -webkit-transition-property: border-top-left-radius; /*, filter*/
  -webkit-transition-duration: 0.5s;
}

#sor1 .temadoboz:hover,
  #sor1 .temadoboz:focus,
  #sor1 .temadoboz img:hover {
  border-top-left-radius: 50px;
  /*-webkit-filter: opacity(0.95);*/
}


#fejlec{
  background: #fff url('img/logo.jpg') no-repeat center 0.2em;

  -webkit-animation-name: beuszas;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-name: beuszas;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

#lablec{
  clear: both;
  text-align: right;
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  padding: 1.5em 3em 0 0;
  
  /*width: 690px;*/  
}

#magamrol {
  background: hsl(199, 38%, 57%) url('img/ab2.jpg') no-repeat 10px center;
}

main {  
  background-color: hsl(199, 38%, 57%);
  border: 1px solid red;    
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: -2px -2px 10px 4px rgba(0, 0, 0, 0.3);  
  z-index: 10;  
}

main p {
  /*background-color: #fff;*/
  /*margin: 10px 10px 10px 15px;*/
  /*padding: 10px;*/
  /*text-indent: 1.5em;*/
  /*border-radius: 5px;*/
  /*box-shadow: -1px -1px 5px 2px rgba(0, 0, 0, 0.3);*/
  /*display: block;    */
  clear: both;
  text-indent: 2em;
}

main article {
  background-color: #fff;
  margin: 10px 10px 10px 15px;
  padding: 10px;  
  border-radius: 5px;
  box-shadow: -1px -1px 5px 2px rgba(0, 0, 0, 0.3);  
}

main article h2 {
  color: #66A0BB;
  font-size: 1.5em;
  font-weight: bold;
  float: left;
  text-indent: 0.5em;
  padding-bottom: 1em;
}

main article time {
  float: right;
  clear: both;
  margin-bottom: 0.5em;
  font-style: italic;
  font-size: 0.75em;
}

#menu {    
    position: absolute;
    top: 0;
    right: 0;
    background-color: #939fa6;
    border: 1px solid #fff;
    height: 25px;
    z-index: 2;        
    width: 50px;
    text-align: center;    
        
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);    
}

#menu:hover{
    
}

#menu a {    
    display: block;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 5px #fff;
    height: 25px;
    
    transition: text-shadow 0.2s;    
    -webkit-transition: text-shadow 0.2s;
    
}

#menu a:link,
 #menu a:hover,
 #menu a:visited,
 #menu a:active {
    color: #fff;
 }
 
 #menu a:hover {
    text-shadow: 0 0 1px #fff;
 }